body {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  background: #F5F1F1;
  font-family: "Lato", sans-serif;
}

p {
  text-indent: 50px;
}
.bannertext {
  font-size: 30px;
  color: white;
  text-emphasis: bold;
  background: transparent;
  font-weight: bold;
  text-align: center;
  font-size-adjust: auto;
  padding: 30px;
}

.has-first-color {
  color: #c32865;
}

.has-first-color1 {
  color: #c32865;
  font-size: 3.371rem;
}

.has-first-color2 {
  color: #c32865;
  font-size: 3.371rem;
}

h2 {
  font-size: 3.371rem;
  text-align: center;
}

.part1 {
  background: url(assets/slider2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 720px;
}

.part2 {
  background: #F2DED5;
  padding: 20px;
  margin-top: 40px;
}

.abouttext {
  color: black;
  text-align: center;
  background: transparent;
  font-size-adjust: auto;
  font-family: Montserrat;
}

ul.info-list-1 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 20px;
}

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 280px;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
  color: #c32865;
  font-size: 30px;
}

.contact_section {
  background: url(assets/slider1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 40px;
}

.contact-container {
  width: 21em;
  margin-top: 5em;
  display: flex;
}

#header {
  color: #fff;
  font-size: 30px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact-form>label {
  color: #fff;
  font-family: inherit;
}

#contact-form>input {
  padding: 0 5px;
  height: 37px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  border: 0;
  border-bottom: 3px solid #c32865;
  box-shadow: 0px 0px 15px 3px rgba(15, 15, 15, 0.2);
}

/*Edit Input placeholder*/
#contact-form>input::placeholder {
  font-family: inherit;
  font-size: 16px;
}

#contact-form>textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 40px;
  margin-bottom: 60px;
  font-size: 16px;
}

#contact-form>textarea::placeholder {
  max-width: 100%;
  min-width: 100%;
  height: 60px;
  margin-bottom: 60px;
  font-family: Oxygen, sans-serif;
}
