* {
  margin: 0px
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #F5F1F1;
  font-family: "Lato", sans-serif;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

* p {
  text-indent: 50px;
}

.bannertext {
  font-size: 30px;
  color: white;
  text-emphasis: bold;
  background: transparent;
  font-weight: bold;
  text-align: center;
  font-size-adjust: auto;
  padding: 30px;
}

.has-first-color {
  color: #c32865;
}

.has-first-color1 {
  color: #c32865;
  font-size: 3.371rem;
}

.has-first-color2 {
  color: #c32865;
  font-size: 3.371rem;
}

h2 {
  font-size: 3.371rem;
  text-align: center;
}
h5{
  padding:8px;
}
.part1 {
  background: url(assets/slider2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 620px;
}

.part2 {
  background: #F2DED5;
  padding: 20px;
  margin-top: 40px;
}

.part3 {
  background: #fff;
  padding: 20px;
  margin-top: 40px;
}

.abouttext {
  color: black;
  text-align: center;
  background: transparent;
  font-size-adjust: auto;

}

.skills{
  background: url(assets/slider3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 320px;
}

.skillstext {
  color: #fff;
  text-align: center;
  background: transparent;
  font-size-adjust: auto;
  padding: 30px;

}
.checked {
  color: #c32865;
}
.general_layout {
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: underline;

}

a:hover {
  color: #c32865;

}

h4{
  font-size: 40px;
  font-weight: bold;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  height: 5px;
  border-top: 4px double #000;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 550px;
}

ul.info-list-1 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 20px;
}

.contact_section {
  background: url(assets/slider1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 40px;
}

.contact-container {
  width: 21em;
  margin-top: 5em;
  display: flex;
}

#header {
  color: #fff;
  font-size: 30px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact-form>label {
  color: #fff;
  font-family: inherit;
}

#contact-form>input {
  padding: 0 5px;
  height: 37px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  border: 0;
  border-bottom: 3px solid #c32865;
  box-shadow: 0px 0px 15px 3px rgba(15, 15, 15, 0.2);
}

/*Edit Input placeholder*/
#contact-form>input::placeholder {
  font-family: inherit;
  font-size: 16px;
}

#contact-form>textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 40px;
  margin-bottom: 60px;
  font-size: 16px;
}

#contact-form>textarea::placeholder {
  max-width: 100%;
  min-width: 100%;
  height: 60px;
  margin-bottom: 60px;
  font-family: Oxygen, sans-serif;
}
footer{
  background: #c32865;
  text-align: center;
  padding: 20px;

}
@media screen and (min-width: 768px) {
  #adv-search {
    width: 200px;
    margin: 0 auto;
  }
